body {
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    padding: 50px;
    text-align: center;
    flex: 1; /* Esto asegura que ocupe el espacio restante verticalmente */
}

input {
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    margin-bottom: 25px;
    text-align: left;
    margin: 13px;
    width: 80%;
}

.radioAnswer {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.radioAnswer input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #FFFF00; 
    border-radius: 50%;
    cursor: pointer;
    outline: none; /* appearance: none; */
}

.radioAnswer input[type="radio"]:checked {
    background-color: #FFFF00; 
    border-color: #FFFF00; 
}

select {
    margin-top: 10px;
    width: 400px;
}

.btn-primary {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s;
    width: 100%;
}

.btn-primary:hover {
    background-color: yellow;
    transform: scale(1.01); /* Agrandar al hacer hover */
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 30px;
}

.question::after {
    content: "";
    display: block;
    border-top: 4px solid rgb(29, 171, 29); /* Color y grosor de la línea horizontal */
    margin-top: 30px; /* Espaciado vertical entre la línea y la pregunta */
}
.question label strong {
    font-weight: bold; /* Establece el texto de las preguntas en negrita */
}
