<body>
    <p>app footer</p>

    <img src="../../assets/img/logos/ba_vamosba_blanco.png" alt="logovamosblanco">
    <h2>Telefonos útiles</h2>
    <div class="info">
        <span>102 - Niñez y Adolescencia</span>
        <span>103 - Emergencias</span>
        <span>107 - SAME</span>
        <span>911 - Policía</span>
        <span>144 - Violencia de género</span>
        <span>147 - Atención Ciudadana</span>
    </div>
    <hr>

    <h2>Redes de la ciudad</h2>
    <div class="redes">
        <a href="https://twitter.com/gcba" target="_blank">
            <img src="../../assets/img/social/social-tw.png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/buenosaires/" target="_blank">
            <img src="../../assets/img/social/social-in.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/GCBA" target="_blank">
            <img src="../../assets/img/social/social-fb.png" alt="Facebook">
        </a>
    </div>

    <div class="info2">
        <a href="https://boletinoficial.buenosaires.gob.ar/">
            <span>Boletín oficial</span> </a>
        <a href="">
            <span>Términos y condiciones</span> </a>
        <a href="">
            <span>Política de privacidad</span> </a>
        <a href="">
            <span>Oficios judiciales</span> </a>
        <a href="">
            <span>Transparencia</span> </a>
    </div>
    <p> 2023 Tu Compañía. Todos los derechos reservados.</p>
</body>