<p>login works!</p>
<main>


    <h1>Complete el siguiente campo para realizar la encuesta</h1>



    <div>
        <form>
            <label>
                Ingrese su DNI
            </label>
            <input type="text" id="dniInput" placeholder="DNI" maxlength="8" required
                onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">

            <button onclick="verificarDNI()">VERIFICAR</button>
            <!--<button onclick="location.href='formulario.html'">VERIFICAR</button>-->

        </form>
    </div>


</main>